$mulberry   : rgb(174, 68, 117);
$citron     : rgb(210, 227, 60);
$orange     : rgb(255, 108, 47);

$header-height: 56px;
$header-logo-dims: 50px;
$header-bg-ypos: -95px;
$header-lightbg-ypos: -95px;
$header-darkbg-ypos: -45px;
$header-bg-color: #F5F5F5;

$menu-bg-color: $mulberry;