@import "~normalize-scss/sass/normalize/import-now";
@import "settings";
@import "mixins";

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  height: $header-height;
  position:fixed;
  width: 100%;
}

.header__logo {
  @include SetDimensions($header-logo-dims);

  background-image: url("assets/images/spritesheet.png");
  background-position-y: $header-bg-ypos;
  background-size: cover;

  display: inline-block;
  margin: auto 0;
}

.header__brand-text {
  margin: auto 0;
}

.section {
  min-height: 100vh;
}

.home-section {
  min-height: calc(100vh - #{$header-height});
}

.home-section .brand-container {
  margin: auto;
}

.home-section .brand-tagline {
  height: 33vh;
  display: flex;
  width: 100vw;
}

.brand-tagline {
  .-inner {
    margin: auto;
  }

  &.-ideation {
    background-color: #737373;
  }

  &.-composition {
    background-color: #FFFFFF;
  }

  &.-execution {
    background-color: #434343;
  }
}