@import "~normalize-scss/sass/normalize/import-now";
@import "settings";
@import "mixins";

*, *::before, *::after {
  box-sizing: border-box;
}

.header {
  height: $header-height;
  position:fixed;
  width: 100%;
}

.header__logo {
  @include SetDimensions($header-logo-dims);

  background-image: url("assets/images/spritesheet.png");
  background-position-y: -32px;
  background-size: cover;
}

.section {
  min-height: 100vh;
}

.home-section {
  display: flex;
  min-height: 100vh;
}

.home-section .brand-container {
  margin: auto;
}