$topbar-background: transparent;
$topbar-submenu-background: transparent;

@import "~foundation-sites/scss/foundation";
@import "settings";
@import "mixins";

@include foundation-everything();

.header {
  background-color: transparent;
  height: $header-height;
  position: fixed;
  width: 100%;
  z-index: 30;

  > .logo--small {
    align-self: flex-start;
    display: inline-block;
    margin: auto 0;
  }

  > .header__menu {
    @include SetDimensions(36px);
    align-self: flex-end;
    cursor: pointer;
    display: flex;
    margin: auto 12px auto auto;
  }

  .menu__content {
    color: #FFF;
    flex-direction: row;
  }
}

.logo--small {
  @include SetDimensions($header-logo-dims);

  background-image: url("assets/images/spritesheet.png");
  background-position-y: $header-bg-ypos;
  background-size: cover;
  transition: 0.3s background-position-y ease-in;
}

button:focus{
  // Remove the yellow outline when
  outline: 0;
}

.menu__content {
  list-style: none;
  padding: 0;
  background: transparent;
  margin: 0;
}

.menu {
  $menu-height: calc(100vh);

  background-color: $menu-bg-color;
  color: #FFF;
  height: $menu-height;
  position: absolute;
  transform: translateY(0px);
  width: 100%;
  z-index: 20;
  transition: 0.3s transform ease-in;
  &.-closed {
    transform: translateY(-100%);
  }

  .menu__content {
    flex-direction: column;
    height: $menu-height;
    list-style: none;
    margin: 0;
    padding: #{$header-height} 0 0 0;
    text-align: center;
    display: flex;
    width: 100%;

    > li {
      border-bottom: 1px solid #FFF;
      cursor: pointer;
      display: block;
      padding: 24px;
    }
  }
}

.section {
  min-height: 100vh;
}

.home-section {
  background-image: url('assets/images/guestroom-v4.jpg');
  background-size: cover;
  background-position-x: -180px;
  display: flex;
  min-height: 100vh;
  position: relative;

  .overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .brand-container {
    margin: auto 0;
    z-index: 10;
  }
  .home-section__brand-text {
    color: #FFF;
    font-size: 48px;
    padding-left: 24px;
  }
}

@media only screen and (max-width: 375px) {
  .header .menu__content {
    display: none;
  }
}