@import "~normalize-scss/sass/normalize/import-now";
@import "settings";
@import "mixins";

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: transparent;
  // box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  height: $header-height;
  position: fixed;
  width: 100%;
  z-index: 30;

  > .header__menu rect {
    fill: #FFF;
  }

  > .logo--small {
    align-self: flex-start;
    display: inline-block;
    margin: auto 0;
  }

  > .header__menu {
    @include SetDimensions(36px);
    align-self: flex-end;
    cursor: pointer;
    display: flex;
    margin: auto 12px auto auto;
  }
}

.logo--small {
  @include SetDimensions($header-logo-dims);
  
  background-image: url("assets/images/spritesheet.png");
  background-position-y: $header-bg-ypos;
  background-size: cover;
  transition: 0.3s background-position-y ease-in;
}

.menu {
  $menu-height: calc(100vh - #{$header-height*1});

  background-color: $menu-bg-color;
  color: #FFF;
  height: $menu-height;
  position: absolute;
  transform: translateY(56px);
  width: 100%;
  z-index: 20;
  transition: 0.3s transform ease-in;
  &.-closed {
    transform: translateY(-100%);
  }

  .menu__content {
    flex-direction: column;
    height: $menu-height;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;

    > li {
      border-bottom: 1px solid #FFF;
      cursor: pointer;
      display: block;
      padding: 24px;
    }
  }
}

.section {
  min-height: 100vh;
}

.home-section {
  background-image: url('assets/images/guestroom-v4.jpg');
  background-size: cover;
  background-position-x: -180px;
  display: flex;
  min-height: 100vh;
  position: relative;

  .overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .brand-container {
    margin: auto 0;
    z-index: 10;
  }
  .home-section__brand-text {
    color: #FFF;
    font-size: 48px;
    padding-left: 24px;
  }
}