$base-font-color: rgb(57,57,57);;
$heading-font-stack: "Vollkorn", "Times New Roman", serif;
$base-font-family: "Lato", sans-serif;
$header-font-stack: "Lato", sans-serif;
$base-border: 1px #ccc solid;

$mulberry   : rgb(174, 68, 117);
$citron     : rgb(210, 227, 60);
$orange     : rgb(255, 108, 47);