@import "home";
@import "portfolio";
@import "about";
@import "services";
@import "contact";

.section-heading {
    padding-top: 20px;
    h2 {
        font-size: 4rem;
    }
}

.wrapper {
    > section {
        min-height: 100vh;
        width: 100%;
    }
}

.section-heading {
    @include outer-container;
    
    @media screen and (min-width: 320px)  and (max-width: 568px) {
        text-align: center;
    }
}

.section-content {
    @include outer-container;
}

.left-block {
    @include span-columns(3);

    h3 {
        text-align: right;
        color: #555;

        &:hover {
            color: #333;
        }
        transition: 0.3s color ease;    
    }


    p {
        text-align: right;
    }

    @media screen and (min-width: 320px) and (max-width: 568px) {
        @include span-columns(12);
        
        h3 {
            text-align: center;
            margin: 1.5rem 0;
        }
        
        p {
            text-align: left;
        }
    }
}

.right-block {
    @include span-columns(9);

    @media screen and (min-width: 320px) and (max-width: 568px) {
        @include span-columns(12);
        
        h3 {
            text-align: center;
        }
    }
}