#services {
    @include shadow-top();
    
    h2 {
        padding-top: 20px;
        text-align: center;
    }
    
    #services-list {
        text-align: center;
        
        li {
            @include shadow-bottom(0.33);
            box-sizing: border-box;
            cursor: pointer;
            display: inline-block;
            font-size: 1.5em;
            height: 240px;
            margin: 15px;
            padding: 8px;
            position: relative;
            text-align:center;
            width: 240px;
            
            .inner-text {
                background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* For Firefox 3.6 to 15 */
                background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* Standard syntax (must be last) */   
                bottom: 0px;
                color:#fff;
                font-variant: small-caps;
                left: 0;
                position: absolute;
                width:100%;
            }
        }
    }
    
    #id {
        background: rgba(0,0,0,.9) url("https://s3-ap-southeast-1.amazonaws.com/vgry-files/portfolio/cl/300/CL_Living.jpg") center no-repeat ;   
        background-size:cover;
    }
    #ic {
        background: rgba(0,0,0,.9) url("https://s3-ap-southeast-1.amazonaws.com/vgry-files/portfolio/so/300/entertainment.jpg") center no-repeat;
        background-size:cover;
    }
    
    #fd {
        background: rgba(0,0,0,.9) url("../images/550300_3937770210555_1303978911_n.jpg") center no-repeat;
        background-size:cover;
    }    
    #is {
        background: rgba(0,0,0,.9) url("../images/576067_4641412681177_537004989_n.jpg") center no-repeat;
        background-size:cover;
    }    
    #es {
        background: rgba(0,0,0,.9) url("https://s3-ap-southeast-1.amazonaws.com/vgry-files/portfolio/nt/300/9-10.jpg") center no-repeat;
        background-size:cover;
    }    
    #pd {
        background: url("https://s3-ap-southeast-1.amazonaws.com/vgry-files/portfolio/misc/300/9-26.jpg")  center no-repeat;
        background-size:cover;
    }
}